input.invalid { /* when a field is considered invalid by the browser */
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
.webds_mf_logo{margin: 20px; display:block; text-align: center;}
.webds_mf_footer{margin: 30px; display:block; text-align: right;}